

.hero {
    background-image: url(../assets/R8Photo-1240x930.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    height: 90vh;
    position: relative;
    width: 100%;

}



.divider {
    background-color: #ccc;
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 4px;
}

.diagonal {
    position: absolute;
    bottom: 0;
}