.end {
    gap: 16px;
    color: var(--white-darker);
    padding-block: 16px;
}

.yellow-gradient {
    background-image: var(--yellow-gradient)
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-text.split img {
    width: 50%;
}

.img-text.split p {
    text-align: center;
}
.img-text.split .text {
    width: 50%;
}

p.larger {
    font-size: 48px;
}

.content.smaller {
    height: 75dvh;
}
.content.tiny {
    height: 60dvh;
}
.large {
    font-size: 40px;
    width: 50%;
}


.self-align-end {
    align-self: flex-end;
    padding-bottom: 20dvh;
}

.text p.align-left  {
    text-align: left;
}

.split.images img {
    width: 33%;
    height: 100%;
}

.split.images img + img {
    width: 67%;
}

