.end {
    gap: 16px;
    color: var(--white-darker);
    padding-block: 16px;
}

.yellow-gradient {
    background-image: var(--yellow-gradient)
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-text.split img {
    width: 50%;
}

.img-text.split p {
    font-size: 52px;
    text-align: center;
}


.content.smaller {
    height: 75dvh;
}