.content {
    display: flex;
    height: 88dvh;
    padding: 0;
    position: relative;
}
.content img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    position: relative;
    display: block;
    
}

.content-md {
    height: 20dvh;
}
.left {
    left: 0;
    margin-left: 4px;
}

.right {
    right: 0;
    margin-right: 4px;
}
.img-text {
    display: flex;
    height: 100%;
    width: 100%;
}
.text {
    position: relative;
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    gap: 24px;
    padding-inline: 96px;
    text-align: justify;
    font-size: 26px;
    justify-content: center;
    font-weight: 400;
    letter-spacing: -0.2px;
}


.full-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}


#music-of-the-sun {
    background-image: url(../assets/2005music_of_the_sun.jpg);
    background-position: center;
}

.text-overlap {
    width: 80%;
    font-size: 32px;
    color: var(--white);
    text-align: center;
}


.text-lg {
    font-size: 48px;
    text-align: center;
    width: 70%;
    color: var(--text-color);
}