.content {
    display: flex;
    height: 88dvh;
    padding: 0;
    position: relative;
    overflow: hidden;
}
.content img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    position: relative;
    display: block;
    
}

.left {
    left: 0;
}

.right {
    right: 0;
}
.img-text {
    display: flex;
    height: 100%;
    width: 100%;
}
.text {
    position: relative;
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    gap: 24px;
    padding-inline: 96px;
    text-align: justify;
    font-size: 26px;
    justify-content: center;
    font-weight: 400;
    letter-spacing: -0.2px;
}


.full-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}


#music-of-the-sun {
    background-image: url(../assets/2005music_of_the_sun.jpg);
    background-position: center;
}

#bio-006 {
    background-image: url(../assets/section-bio-photo-006.jpg);
    background-position: bottom left;
}

#anti {
    background-image: url(../assets/Anti-1796x2048.jpg);
    background-position: top;
}

#concert {
    background-image:url(../assets/410B7955-small-2048x1365.jpg);
}
.text-overlap {
    width: 80%;
    font-size: 32px;
    color: var(--white);
    text-align: center;
}


.text-lg {
    font-size: 40px;
    text-align: center;
    width: 70%;
    color: var(--text-color);
}