
.sidebar {
    position: fixed;
    height: 100dvh;
    width: 96px;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    color: var(--white); 
    padding-top: 32px;
    height: 100%; 
    justify-content: space-between; 
    z-index: 10;
}
.sidebar-inside {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    font-size: 12px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

.sidebar-inside li {
    cursor: pointer;
}
.main-item {
    font-size: 18px;
    letter-spacing: 0;
}